*.log
*.pot
*.pyc
__pycache__
media

#Backup files#
*.bak
#Environments
.env
env/

# Visual studio code #
.vscode/*
.idea/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history